h1{
    color: blue;
    font-weight: 900;
    font-family: PT monospace;
    text-align: center;
}
.yoghurt {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  border-radius: 8px;
}  
button {
    display: block;
    margin: 0 auto;
}